<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test verbose="1" name="天虹项目">
        <classes>
            <class name="cn.lizhi.rainbowcntcase.LoginTest"/>
        </classes>
    </test>
    <test verbose="1" name="永旺项目">
        <classes>
            <class name="cn.lizhi.yongwangcase.MemberLogin"/>
        </classes>
    </test>
</suite>